
.North{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

.South{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:burlywood;
}